.wrap-menu {
  height: $heigthHeader;
  width: $width;
  margin: auto;
  line-height: $heigthHeader;
  vertical-align: middle;
  @include clearFix;
  border-bottom: 1px solid $colorTest;
  h3 {
    @include floatElement;
    color: $colorTest;
  }
  ul {
    float: right;
    li {
      display: inline-block;
      padding: 0 5px;
      a {
        text-decoration: none;
        color:$colorTest;
        img {
          width: 18px;
          padding: 0 3px;
        }
      }
      a:hover {
        color: blue;
      }
      &:last-child a:hover {
        color: white;
        background-color:  #30488f;
      }
    }
  }
}
.btn {
  @include button;
}
.jumbo {
  width: $width;
  margin: auto;
  @include flex;
  color:$colorTest;
}
.jumbo-testo {
  @include blocco;
  h1 {
    padding:50px 20px;
  }
  p {
    padding:0 20px;
    margin-bottom: 30px;
  }
  img {
    width: 20px;
    padding: 0 3px;
  }
  a {
    background-color: #30488f;
    margin: 0 20px;
    color: white;
  }
  a:hover {
    background-color: #233569;
  }
}
.jumbo-img {
  @include blocco;
  background-color: blue;
  img {
    width: 100%;
    height: 100%;
  }
}
.fa-bars {
float: right;
margin-top: 27px;
display: none;
}
@media screen and (max-width: 760px) {
  .display-block {
    display: block;
  }
  .jumbo-testo {
    a{
      width: 100%;
    }
  }
}
@media screen and (max-width: 1100px) {
  .widthTotale {
    width: 100%;
    text-align: center;
  }
}
