.wrap-menu {
  height: $heigthHeader;
  width: $width;
  margin: auto;
  line-height: $heigthHeader;
  vertical-align: middle;
  @include clearFix;
  border-bottom: 1px solid $colorTest;
  h3 {
    @include floatElement;
    color: $colorTest;
  }
  ul {
    float: right;
    li {
      display: inline-block;
      padding: 0 5px;
      a {
        text-decoration: none;
        color:$colorTest;
        img {
          width: 18px;
          padding: 0 3px;
        }
      }
    }
  }
}
.btn {
  @include button;
}
.jumbo {
  width: $width;
  margin: auto;
  height: 500px;
  @include flex;
  color:$colorTest;
}
.jumbo-testo {
  @include blocco;
  h1 {
    padding:50px 20px;
  }
  p {
    width: $width;
    padding:0 20px;
  }
}
.jumbo-img {
  @include blocco;
  background-color: blue;
}
