.prima-sezione {
  @include sezioneMain;

}
h2 {
  @include h2Main;
}
.wrap-img {
  @include flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.wrap-img-testo {
  width: 25%;
  text-align: center;
  img {
    @include imgMain;
  }
  p {
    @include pMain;
  }
}
.wrap-coniglio {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
.seconda-sezione {
  @include sezioneMain;
  border-bottom: 0px;
}
.terza-sezione {
  padding-top: 50px;
  @include flex;
  background-color:white;
  img {
    width: 50%;
  }
}
.wrap-sezione-bianca {
  width: 30%;
  h3{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 20px;
  }
  a{
    color: blue;
    display: block;
    margin-bottom: 90px;
  }
  img {
    width: 70%;
    margin-left:  15%;
  }
}
@media screen and (max-width: 760px) {
  .wrap-img-testo {
    width: 100%;
  }

  .terza-sezione {
    img{
      width: 100%;
      padding: 30px;
    }
  }
  .wrap-sezione-bianca{
    width: 100%;
    img {
      width: 70%;
    }
  }
}
@media screen and (max-width: 1100px) {
  .wrap-img-testo{
    width: 100%;
  }
}
