@mixin floatElement {
  float: left;
}
@mixin clearFix {
  display: table;
  content: "";
  clear: both;
}
@mixin button {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  width: 60px;
}
@mixin blocco {
  width: 50%;
  height: 80%;
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@mixin pMain {
  text-align: center;
  margin: auto;
  padding: 20px;
}
@mixin imgMain {
  height: 200px;
  padding:30px;
}
@mixin sezioneMain {
  width: $widthMain;
  margin: auto;
  border-bottom: 1px solid $colorTest;
}
@mixin h2Main {
  width: $widthMain;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
